MxLabel {
	color: white;
	font-size: 14px;
}

*.menu-item {
	padding: 5px;
}

*.menu-item:hover {
	background-color: #ffffff33;
}

*.network-used {
	color: #33eecc;
}

*.dialog {
	background-color: #000000;
}

MxEntry {
	padding: 5;
	font-size: 16px;
	border-image: none;
	color: #ffffff;
	background-color: #00000099;
}

MxEntry:focus {
	border-image: none;
}

*.network_passphrase_label {
	padding: 5;
}

*.network_dialog_action_message {
	font-size: 24px;
}
