MxLabel {
	color: white;
	font-size: 14px;
}

*.menu-item {
	padding: 5px;
}

*.menu-item:hover {
	background-color: #ffffff33;
}

*.network-used {
	color: #33eecc;
}

*.dialog {
	background-color: #000000;
}

MxEntry {
	padding: 5;
	font-size: 16px;
}

*.network_passphrase_label {
	padding: 5;
}
